<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">

</head>

<body>
<h3>The following table shows the most used appliances in the households and their rates</h3>

    <div class="tables">
        <table>

            <tr>
                <th>Name</th>
                <th>Rate</th>
            </tr>
        {{#each appliance}}

            <tr>
                <td>{{name}}</td>
                <td>{{rate}}</td>
            </tr>
        {{/each}}
        </table>

    </div>
</body>

</html>