<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	<link rel="stylesheet" href="style.css">

</head>
<body>
  <div class="">
    <p>This web app is used to help the local Municipality to keep track of electricity usage in every household. It checks for the kind of applicances used and  the street a household belongs to. </P>
  </div>
  <div class="content">
     <form action="/streets" method="get">
    <div class="streets">
      <button type="submit">Streets</button>
    </div></form>
    
    <div class="appliances">
       <form action="/appliances" method="get">
    <button type="submit">Appliances</button>
    </form>
    </div>
  </div>
   
   
</body>
</html>