<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: #4c334d;
            color: white;
        }
        table,th,td{
            border: 2px solid black;
            border-collapse: collapse;
            text-align: center;
        }
        table{
            width:50%;

        }
        th{
            font-weight: bolder;
            font-size: larger;
        }
        h1,h4{
            text-align: center;
        }
        .tables{
	text-align: center;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
@media (max-width:920px){
    table{
        width:100%;
    }
}
    </style>
</head>
<body >
        <h4>For this street we check for street number and the remaining balance</h4>

    <div class="tables">

        

        <table>
            <tr>
                <th>Street Name</th>
                <th>Street Number</th>
                <th>Balance</th>

            </tr>
        {{#each meters}}

            <tr>
                <td>{{name}}</td>
                <td>{{street_number}}</td>
                <td>{{balance}}</td>
            </tr>
        {{/each}}
        </table>


    </div>
</body>
</html>