<h2>Streets</h2>
<div>
        <h4>List of all streets</h4>
        {{#each streets}}
        <ul>
            {{name}}
        </ul>
        {{/each}}
<table>
{{#each streets}}
<tr>
	<td>
		{{name}}
	</td>
	<td>
		<a href="/meters/{{id}}">Meters in street</a>
	</td>
</tr>
{{/each}}
</table>